extends layout

block content
  div(class='container settings-container')
    div(class='card')
      h3(class='card-header') Transaction Generator
      div(class='card-block')
        h4(class='card-title') Information
        div(class='row')
          div(class='d-flex align-items-center col') ID
          div(class='d-flex align-items-center col') 1
        div(class='form-group row')
          div(class='d-flex align-items-center col') Name
          div(class='col')
            input(class='form-control', type='text', name='nodeName', value='0')
        div(class='form-group row')
          div(class='d-flex align-items-center col') Type
          div(class='col')
            input(class='form-control', type='text', name='typeName', value='0')
        div(class='form-group row')
          div(class='d-flex align-items-center col') Color
          div(class='col')
            input(class='form-control', type='text', name='color', value='0')
        h4(class='card-title') Delay of Network
        div(class='form-group row')
          div(class='d-flex align-items-center col') fff
          div(class='col')
            input(class='form-control', type='number', name='delay', value='0')
        h4(class='card-title') Mining Strategy
        div(class='form-group row')
          div(class='d-flex align-items-center col') Mining Time (Seconds)
          div(class='col')
            input(class='form-control', type='number', name='miningTime', value='0')
        div(class='form-group row')
          div(class='d-flex align-items-center col') Minimum Value of Transactions
          div(class='col')
            input(class='form-control', type='number', name='minValue', value='0')
        div(class='form-group row')
          div(class='d-flex align-items-center col') Number of Transactions to Mine
          div(class='col')
            input(class='form-control', type='number', name='mineNumber', value='0')
        div(class='form-group row')
          div(class='d-flex align-items-center col') Maximum Number of Pending Transactions
          div(class='col')
            input(class='form-control', type='number', name='maxPending', value='0')
    