/***************************************
 * Global.
 ***************************************/
  
body 
  font-family: 'Roboto', sans-serif
  height: 100vh
  display: flex
  flex-direction: column

.main-content
  flex: 1
  overflow: auto

/***************************************
 * Index.
 ***************************************/

.nodes-container
  flex: 1
  overflow: auto
  > div
    margin: 16px 0 16px 0
    > h3
      padding: 8px 0 8px 0
      margin: 0
    > div.row
      margin: 0
      padding: 16px 0 16px 0
      > div
        > .progress-text
          font-size: 16px
        > .progress
          height: 6px
    > div[name=canvas-container]
      height: 200px
      > div
        position: absolute
        right: 0
      > .zoom-buttons
        bottom: 0

.publish-container
  padding: 8px 0 8px 0
  background-color: #439889
  > div
    > .publish-text
      padding: 0 8px 0 8px
    > input
      width: 100px !important
      margin: 0 8px 0 8px

#publishAlert
  position: absolute
  display: none
  width: 209px
  bottom: 56px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0

/***************************************
 * Settings.
 ***************************************/

.settings-container
  > .card
    margin: 16px 0 16px 0
    > .card-header
      background-color: #439889
      > button
        position: absolute
        right: 16px
    > .card-block
      > div.row
        height: 38px
        &:not(:last-child)
          margin-bottom: 8px
        > div
          font-size: 16px

#savingSpinner
  position: absolute
  display: none
  bottom: 0px
  right: 32px
  > span
    margin-left: 8px